.row{
  margin: 0 -10px;
  [class*='col-']{
    padding: 0 10px;
  }
}
.wrapper{
  position:relative;
  max-width:1150px;
  margin:0 auto;
  z-index:2;
  padding: 0 10px;
}
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.clearfix {
  @include clearfix;
}
.col-m-4-5{
  @include breakpoint(mobileonly){
    float:left;
    width:80%;
  }
}
.col-m-3x{
	@include breakpoint(mobileonly){
    float:left;
    width:33.3%;
  }
}
.col-m-2x{
	@include breakpoint(mobileonly){
    float:left;
    width:50%;
  }
}
.col-m-4x{
  @include breakpoint(mobileonly){
    float:left;
    width:25%;
  }
}
.col-m-5x{
  @include breakpoint(mobileonly){
    float:left;
    width:20%;
  }
}
.col-f-2x{
  @include breakpoint(phablet){
    float:left;
    width:50%;
  }
}
.col-f-3x{
	@include breakpoint(phablet){
    float:left;
    width:33.3%;
  }
}
.col-f-4x{
	@include breakpoint(phablet){
    float:left;
    width:25%;
  }
}
.col-f-5x{
	@include breakpoint(phablet){
    float:left;
    width:20%;
  }
}
.col-t-4-5{
  @include breakpoint(tablet){
    float:left;
    width:80%;
  }
}
.col-t-2x{
  @include breakpoint(tablet){
    float:left;
    width:50%;
  }
}
.col-t-3x{
  @include breakpoint(tablet){
    float:left;
    width:33.3%;
  }
}
.col-t-4x{
  @include breakpoint(tablet){
    float:left;
    width:25%;
  }
}
.col-t-5x{
  @include breakpoint(tablet){
    float:left;
    width:20%;
  }
}
.col-l-4-5{
  @include breakpoint(laptop){
    float:left;
    width:80%;
  }
}
.col-l-3-4{
  @include breakpoint(laptop){
    float:left;
    width:75%;
  }
}
.col-l-2x{
  @include breakpoint(laptop){
    float:left;
    width:50%;
  }
}
.col-l-3x{
  @include breakpoint(laptop){
    float:left;
    width:33.3%;
  }
}
.col-l-4x{
  @include breakpoint(laptop){
    float:left;
    width:25%;
  }
}
.col-l-5x{
  @include breakpoint(laptop){
    float:left;
    width:20%;
  }
}
.col-l-6x{
  @include breakpoint(large){
    float:left;
    width:16.6%;
  }
}