 * {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	font-family: 'Conv_HypatiaSansPro-Regular','Conv_HypatiaSansPro-Black','Conv_HypatiaSansPro-ExtraLight','Conv_HypatiaSansPro-Light','Conv_HypatiaSansPro-Semibold';
	}
img {
	max-width: 100%;
}
h1,h1,h3,h4,h5,h6{
	font-weight: normal;
}