.action-wrap
	.wrapper.clearfix
		.action
			.action__title
				|ВНИМАНИЕ АКЦИЯ!  
			.action__text
				p При заказе Ваз-666 - бутылка 
				p чиваса вподарок
			.action__timer
				script(type='application/javascript').
					var myCountdown1 = new Countdown ({
						year: (new Date().getFullYear() + 1), 	// I'm cheating here... so I don't have to update this every year!
						year: 2017, 							// This is what you would normally put in here... just a number for the year
						month:10, 
						day:1,
						width:600,
						height:150,
						rangeHi:"day",
						style:"flip",
						numbers:{
							bkgd: "#fff"
						},
						labels:{
							color	: "#fd9604"
						},
						labelText: {
							second: 'СЕКУНД',
							minute:'МИНУТ',
							hour:"ЧАСОВ",
							day:"ДНЕЙ"
						}
						});
					
					
			.action__timerMob
				script(type='application/javascript').
					var myCountdown1 = new Countdown ({
					year: (new Date().getFullYear() + 1), 	// I'm cheating here... so I don't have to update this every year!
					year: 2017, 							// This is what you would normally put in here... just a number for the year
					month:10, 
					day:1,
					width:290,
					height:80,
					rangeHi:"day",
					style:"flip",
					numbers:{
					bkgd: "#fff"
					},
					labels:{
					color	: "#fd9604"
					},
					labelText: {
					second: 'СЕКУНД',
					minute:'МИНУТ',
					hour:"ЧАСОВ",
					day:"ДНЕЙ"
					}
					});

					
					
					
					
					
					
					
					
					
					
					
