.wrapper
	.clients
		.clients__title.title НАШИ ПОСТОЯННЫЕ КЛИЕНТЫ
		.row.clearfix
			.clients__logo
				.logo1.col-f-2x.col-t-3x.col-l-6x
					a(href='#')
						img(src='img/logo_gazprom.png',alt="logo_gazprom")
				.logo2.col-f-2x.col-t-3x.col-l-6x
					a(href='#')
						img(src='img/logo_fond-kino.png',alt="logo_fond-kino")
				.logo3.col-f-2x.col-t-3x.col-l-6x
					a(href='#')
						img(src='img/logo_W-B.png',alt="logo_W-B")
				.logo4.col-f-2x.col-t-3x.col-l-6x
					a(href='#')
						img(src='img/logo_ferrari.png',alt="logo_ferrari")
				.logo5.col-f-2x.col-t-3x.col-l-6x
					a(href='#')
						img(src='img/logo_lukoil.png',alt="logo_lukoil")
				.logo6.col-f-2x.col-t-3x.col-l-6x
					a(href='#')
						img(src='img/logo_gucci.png',alt="logo_gucci")