.footer
	.title.footer__title НАШИ КОНТАКТЫ
	.footer__contacts
		.address
			<b>Адрес</b> 395000, МОСКВА, ул. Героев Труда, 45, офис 405
		.mail
			a(href="mailto:mail@rus.ru") <b>Почта</b> mail@rus.ru
