.footer
	.title.footer__title НАШИ КОНТАКТЫ
	.footer__contacts
		.address
			<b>Адрес</b> 395000, МОСКВА, ул. Героев Труда, 45, офис 405
		.mail
			a(href="mailto:mail@rus.ru") <b>Почта</b> mail@rus.ru
	.footer__map
		script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9c5ff73bac5e71626a326fd77222437de6d675bd6f52a4e2308de2f2b16693be&amp;width=100%25&amp;height=520&amp;lang=ru_UA&amp;scroll=true")

		