.wrapper
	.sertificates
		.title ЛИЦЕНЗИИ И СЕРТИФИКАТЫ
		.row.clearfix
			.sertificates__gallery
				.sert1.col-f-2x.col-l-4x
					a(href='#')
						img(src='img/icon_sert.png' alt='sertificate' ,class="gallery" data-fancybox="gallery" )
						p Посмотреть
				.sert2.col-f-2x.col-l-4x
					a(href='#')
						img(src='img/icon_sert.png' alt='sertificate' ,class="gallery" data-fancybox="gallery")
						p Посмотреть
				.sert3.col-f-2x.col-l-4x
					a(href='#')
						img(src='img/icon_sert.png' alt='sertificate' ,class="gallery" data-fancybox="gallery")
						p Посмотреть
				.sert4.col-f-2x.col-l-4x
					a(href='#')
						img(src='img/icon_sert.png' alt='sertificate' ,class="gallery" data-fancybox="gallery")
						p Посмотреть