.wrapper
	.sertificates
		.title ЛИЦЕНЗИИ И СЕРТИФИКАТЫ
		.row.clearfix
			.sertificates__gallery
				a(href='img/sert.jpg'  ,class="gallery" data-fancybox="gallery").sert1.col-f-2x.col-l-4x
					img(src='img/icon_sert.jpg',alt="sertificate")
					p Посмотреть
				a(href='img/sert.jpg'  ,class="gallery" data-fancybox="gallery").sert2.col-f-2x.col-l-4x
					img(src='img/icon_sert.jpg',alt="sertificate")
					p Посмотреть
				a(href='img/sert.jpg'  ,class="gallery" data-fancybox="gallery").sert3.col-f-2x.col-l-4x
					img(src='img/icon_sert.jpg',alt="sertificate")
					p Посмотреть
				a(href='img/sert.jpg'  ,class="gallery" data-fancybox="gallery").sert4.col-f-2x.col-l-4x
					img(src='img/icon_sert.jpg',alt="sertificate")
					p Посмотреть